<div class="widget-wrapper">
  <h5>Content Child Decorator</h5>
  <app-content-child-decorator-example></app-content-child-decorator-example>
</div>

<div class="widget-wrapper">
  <h5>Form Render Custom App</h5>
  <app-form-render-custom-app></app-form-render-custom-app>
</div>

<div class="widget-wrapper">
  <h5>Custom Directive</h5>
  <div appHighlight>This is custom directive example</div>
</div>

<div class="widget-wrapper">
  <h5>Rendering2 Example</h5>
  <div appRendering2Directive>Rendering2 example</div>
</div>

<div class="widget-wrapper">
  <h5>Cotent Projection</h5>
  <app-ng-content-exmp></app-ng-content-exmp>
</div>

<div class="widget-wrapper">
  <h5>Property Binding in Directive</h5>
  <div appPropertyBinding [backgroundColor]="'#ff0000'" [color]="'#fff'">
    Property Binding
  </div>
</div>

<div class="widget-wrapper">
  <h5>Template driven</h5>
  <app-template-driven-1></app-template-driven-1>
</div>

<div class="widget-wrapper">
  <h5>RxJs</h5>
  <app-rxjs></app-rxjs>
</div>
